.undo_redo_panel_wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 50px;
}

.undo_redo_panel_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 50px;

  @include toolbar-container;
}

.icon_button {
  margin: 0;
  color: var(--gray-12);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: var(--gray-8);
  }
}

.icon {
  width: 24px;
  height: 24px;
}
