.zoom_controls {
  @include toolbar-container;

  padding: 5px 10px;
}

.control_btn {
  width: 40px !important;
  height: 40px !important;
  border-radius: 6px;

  &[disabled],
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.control_icon {
  max-width: 18px !important;
  max-height: 18px !important;
}

.zoom_level {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
}

.controls_safe_area {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 5;
  pointer-events: all;

  // Невидимый фон для перехвата кликов
  background-color: transparent;
}

.dialog_content {
  margin: 20px 0;
}

.markdown_container {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin-bottom: 20px;

  /* Стили для списков */
  ul,
  ol {
    margin-left: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5rem;
  }

  /* Стили для заголовков */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  /* Стили для параграфов */
  p {
    margin-bottom: 1rem;
  }
}

.close_button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: #e0e0e0;
  }
}

.hotkey {
  display: inline-block;
  padding: 2px 4px;
  font-size: 0.8em;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 4px;
  color: #555;
}

.kbd_style {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: var(--gray-7);
  margin-top: 4px;
}
