@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-and-fade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay-animation {
  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content-animation {
  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dropdown-content {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.dropdown-content[data-side='top'] {
  animation-name: slide-up-and-fade;
}

.dropdown-content[data-side='bottom'] {
  animation-name: slide-down-and-fade;
}

/* Стили для контейнера предпросмотра условий */
.node-preview-container {
  will-change: transform;
  transform-origin: center center;
}
