// Общие стили для переменных и их иконок

.variable_icon {
  width: 14px;
  height: 14px;
  color: #666;
  flex-shrink: 0;
}

.variable_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45%;
  color: #646464;
  font-size: 10px;
}

.variable_type_info {
  font-size: 12px;
  margin-top: 4px;
  color: #1c2024;
}

.variable_type_info_bold {
  margin-right: 4px;
}

// Общие стили для операций, которые используются в разных компонентах
.operations_list {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
  transition:
    max-height 0.15s ease-out,
    margin-top 0.15s ease-out;
  max-height: 300px;
  will-change: max-height;
}

.operations_list_collapsed {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
}

.toggle_all_button,
.toggle_operation_button {
  margin: 0 1px;
  padding: 0;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5a623;
  cursor: pointer;
  transition: color 0.15s ease-out;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  background-color: transparent;
}

.toggle_all_button.disabled,
.toggle_operation_button.disabled {
  color: #bbb;
  opacity: 0.7;

  &:hover {
    color: #f5a623;
  }
}
